node_modules
bower_components
reports
target
.history
.cache
.classpath
.project
.settings/
bin/
*.class
*.log
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.scala_dependencies
.worksheet
.idea/
.DS_Store
cscope*
logs/
.scalastyle
.cache-main
.cache-tests
.ensime
.ensime_cache/
*.iml
